.s1 {
    color: #c92d39;
}

.s2 {
    color: #7ab648;
}

.s3 {
    color: #f5b5c8;
}

.s4 {
    color: #de5f85;
}

.s5 {
    color: #c92d39;
}

.s6 {
    color: #d26b5e;
}

.s7 {
    color: #ff8f80;
}