<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Recomendaciones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Todos podemos adoptar cinco medidas para minimizar las probabilidades de padecer hipertensión y sus consecuencias adversas.</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label> 1. Dieta saludable:</ion-label>
        </ion-item>
        <ion-card-content>
            <ion-list>
                Promover un modo de vida saludable, haciendo hincapié en una nutrición adecuada de niños y jóvenes;
            </ion-list>
            <ion-list>
                Reducir la ingesta de sal a menos de 5 g al día (algo menos de una cucharilla de café al día);
            </ion-list>
            <ion-list>
                Comer cinco porciones de fruta y verdura al día;
            </ion-list>
            <ion-list>
                Reducir la ingesta total de grasas, en especial las saturadas.
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label> 2. Evitar el uso nocivo del alcohol</ion-label>
        </ion-item>
        <ion-card-content>
            Limitar su ingesta a no más de una bebida estándar al día.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label> 3. Actividad física</ion-label>
        </ion-item>
        <ion-card-content>
            <ion-list>
                Realizar actividad física de forma regular y promover la actividad física entre los niños y los jóvenes (al menos 30 minutos al día).
            </ion-list>
            <ion-list>
                Mantener un peso normal: cada pérdida de 5 kg de exceso de peso puede reducir la tensión arterial sistólica entre 2 y 10 puntos.
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label> 4. Abandonar el consumo de tabaco</ion-label>
        </ion-item>
        <ion-card-content>
            Evitar la exposición a los productos de tabaco.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label> 5. Gestionar el estrés de una forma saludable</ion-label>
        </ion-item>
        <ion-card-content>
            Mediante meditación, ejercicio físico adecuado y relaciones sociales positivas.
        </ion-card-content>
    </ion-card>

</ion-content>